.page {
  width: 100vw;
  height: auto;
  background: rgb(54, 53, 53);
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  text-align: center;
  background: rgb(17, 16, 16);
  height: 10vh;
  color:white;
  width: 100vw;
 
}
.Input{
   
    margin-left: 2rem;
    

}
.Input input {
    all:unset;
    background:rgb(83, 82, 82);
    font-size: .9rem;
    text-align: start;
    width:15vw;
    padding: 4px 10px;
    font-weight: 500;
    
}
.pagebtn{
  
    width: 20vw;
    display:flex;
    justify-content: space-around;

}

.pagebtn button {
  all: unset;
  border-radius:10px;
  padding: 5px 10px;

}
.pagebtn button:hover{
  border :1px solid #7EA6FF;
  border-radius:10px;
  color:#7EA6FF;
}
.detail{
  display: flex;
  width: 14vw;
 
  justify-content: space-around;
}
.detail button:nth-child(1){
  background:#1278e6;
  border: 1px solid #1278e6;
}
.detail button:nth-child(2){
  background: rgb(108, 240, 108);
  border: rgb(108,240,108);
}
.detail button:nth-child(3){
  color: red;
  font-size: 1.2rem;
  font-weight: 600;
}
.detail button {
  all: unset;
  padding: 0px 12px;
  border-radius: 5px;
  
}

.Middle{
  height:90vh;
 
 
}

